

<div class="card card-default mb-3 shadow-sp">
    <div class="card-body p-2">
        <form name="filtrosRegTipoCambio" onsubmit="return false;">
            <div class="row">
                <div class="col-12 col-sm-2 col-md-2">
                    <div class="form-group-rm">
                        <label>Fec. inicio</label>
                        <input type="text" class="form-control form-control-sm FEC_INICIO" name="FEC_INICIO" id="FEC_INICIO" />
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2">
                    <div class="form-group-rm">
                        <label>Fec. fin</label>
                        <input type="text" class="form-control form-control-sm FEC_FIN" name="FEC_FIN" id="FEC_FIN" />
                    </div>
                </div>
                <div class="col-12 col-sm-2 col-md-2">
                    <div class="form-group-rm">
                        <label>Moneda</label>
                        <select class="form-control form-control-sm" id="C_MONEDA" name="C_MONEDA" data-query="q_administracion_tipocambio_moneda" data-value="C_PARAMETRO_GENERAL" data-field="CODIGO_PARAMETRO"></select>
                    </div>
                </div>
                <div class="col-auto p-0 pr-1">
                    <div class="form-group-rm">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-sm btn-gray btn-block"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                    </div>
                </div>
                <div class="col-auto p-0">
                    <label>&nbsp;</label>
                    <div class="dropdown borrar">
                        <button class="btn btn-orange btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</button>
                        <div class="dropdown-menu dropdown-caret" style="">
                            <a id="btnAgregar" class="dropdown-item" href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar Tipo Cambio</a>
                            <a id="btnEliminar" class="dropdown-item" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar Tipo Cambio</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="mt-2" id="tblTipoCambio"></div>
    </div>
</div>