
<form name="frmBusquedaProveedor" onsubmit="return false;">
    <div class="row">
        <div class="col-12 col-sm-3 col-md-3">
            <div class="form-group-rm">
                <input type="text" class="form-control form-control-sm" id="_buscar" name="_buscar" placeholder="Ingrese aquí su búsqueda..." autocomplete="off" />
            </div>
        </div>
        <div class="col-auto p-0 pr-1">
            <div class="form-group-rm">
                <button type="submit" class="btn btn-sm btn-gray btn-block btn-filter"><i class="fa fa-search-plus" aria-hidden="true"></i>&nbsp;Buscar</button>
            </div>
        </div>
        <div class="col-auto p-0">
            <div class="form-group-rm">
                <button type="button" class="btn btn-orange btn-sm btn-block" id="btnCrearProveedor"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Crear Proveedor</button>
            </div>
        </div>
        <div class="col">
            <div class="form-group-rm">
                <button type="button" class="float-right btn btn-sm btn-danger mt-1" id="btnAceptar"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
</form>
<div id="tblBusquedaProveedor" class="mt-2"></div>
