<div class="card card-default mb-3 shadow-sp">
    <div class="card-body p-2">
        <form name="filtrosRegClientes" onsubmit="return false;">
            <div class="row">
                <div class="col-12 col-sm-3 col-md-3">
                    <div class="form-group-rm">
                        <input type="text" class="form-control form-control-sm" id="_buscar" name="_buscar" placeholder="Buscar cliente..." autocomplete="off" />
                    </div>
                </div>
                <div class="col-auto p-0 pr-1">
                    <div class="form-group-rm">
                        <button type="submit" class="btn btn-sm btn-gray btn-block btn-filter"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                    </div>
                </div>
                <div class="col-auto p-0">
                    <div class="dropdown">
                        <button class="btn btn-orange btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</button>
                        <div class="dropdown-menu dropdown-caret" style="">
                            <a id="btnAgregarCli" class="dropdown-item" href="@Url.Action("ClientesRegistro", "Mantenimiento")"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar Cliente</a>
                            <a id="btnEditarCli" class="dropdown-item" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar Cliente</a>
                            <a id="btnEliminarCli" class="dropdown-item" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar Cliente</a>
                            <a id="btnDescargar" class="dropdown-item" href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Descargar excel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="tblClientes" class="mt-2"></div>
    </div>
</div>
