
<button class="btn btn-danger btn-sm pull-right" id="btnGuardar"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Guardar</button>

<ul class="nav nav-tabs" id="myTabRoles" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="miempresa-tab" data-toggle="tab" href="#miempresa" role="tab" aria-controls="miempresa" aria-selected="true">
            Mi Empresa
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="centrocosto-tab" data-toggle="tab" href="#centrocosto" role="tab" aria-controls="centrocosto" aria-selected="false">
            Centro de costo
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="almacen-tab" data-toggle="tab" href="#almacen" role="tab" aria-controls="almacen" aria-selected="false">
            Almacén
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tipocontacto-tab" data-toggle="tab" href="#tipocontacto" role="tab" aria-controls="tipocontacto" aria-selected="false">
            Tipo de contacto
        </a>
    </li>
</ul>

<div class="tab-content" id="myTabContentRoles" style="min-height: 700px;">
    <div class="tab-pane fade show active" id="miempresa" role="tabpanel" aria-labelledby="miempresa-tab">
        <input type="hidden" id="C_EMPRESA" />
        <input type="hidden" id="C_ARCHIVO_LOGO" />
        <input type="hidden" id="SERVICIOS" />

        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="NRO_DOCUMENTO">RUC</label>
                        <input type="text" class="form-control form-control-sm" id="NRO_DOCUMENTO" placeholder="0000000000" maxlength="11" disabled>
                    </div>
                    <div class="form-group col-md-10">
                        <label for="RAZON_SOCIAL">Razon Social</label>
                        <input type="text" class="form-control form-control-sm" id="RAZON_SOCIAL" placeholder="Nombre de Empresa" disabled>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="DIRECCION">Dirección</label>
                        <input type="text" class="form-control form-control-sm" id="DIRECCION" placeholder="Dirección">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="NOMBRE_FIRMA_BE">Nombre del Representante Legal</label>
                        <input type="text" class="form-control form-control-sm" id="NOMBRE_FIRMA_BE" placeholder="Nombre del Representante Legal">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="EMAIL_FIRMANTE_BE">E-mail del Representante Legal</label>
                        <input type="text" class="form-control form-control-sm" id="EMAIL_FIRMANTE_BE" placeholder="emailfirmante@dominio.com">
                    </div>
                </div>

            </div>
            <div class="col-md-2">

                <div class="form-group row">
                    <div class="col-sm-12">
                        <label class="control-label label-bold">(*) Logo de la empresa:</label>
                        <br />
                        <img width="100%" class="mt-1 mb-1 border rounded" id="img" style="display: none;" />
                        <div class="file-loading">
                            <input id="input-b7" name="input-b7" type="file" multiple />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="centrocosto" role="tabpanel" aria-labelledby="centrocosto-tab">
        <div id="padre">
            <div id="html" class="demo">
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="almacen" role="tabpanel" aria-labelledby="almacen-tab">
        <button id="btnAgregarAlmacen" class="m-1 btn btn-sm btn-turquesa"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Agregar</button>
        <button id="btnEliminarAlmacen" class="m-1 btn btn-sm" style="background-color: rgb(227,79,79); border-color: rgb(227,79,79); color: white;"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Eliminar</button>
        <div id="tblAlmacen"></div>
    </div>

    <div class="tab-pane fade" id="tipocontacto" role="tabpanel" aria-labelledby="tipocontacto-tab">
        <button id="btnAgregarTipoContacto" class="m-1 btn btn-sm btn-turquesa"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Agregar</button>
        <button id="btnEliminarTipoContacto" class="m-1 btn btn-sm btn-danger-light"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Eliminar</button>
        <button id="btnDescargarTipoContacto" class="m-1 btn btn-sm btn-orange"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Descargar excel</button>
        <div id="tblTipoContacto"></div>
    </div>
</div>

