<style>
    .editedRow {
        color: #b90f0f !important;
    }
</style>
<form name="frmRegistroProducto" action="#" method="post" data-table="VET.PRODUCTO" data-condition="@ViewBag.Condition" data-setUpdate="1" autocomplete="off">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Productos","Mantenimiento")" class="btn btn-sm btn btn-gray"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Regresar</a>
            <button id="guardar" type="button" class="btn btn-danger btn-sm pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Guardar</button>
        </div>
    </div>
    <hr />
    <ul class="nav nav-tabs" id="myTabRoles" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="producto-tab" data-toggle="tab" href="#producto" role="tab" aria-controls="producto" aria-selected="true">
                Producto
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="listaprecios-tab" data-toggle="tab" href="#listaprecios" role="tab" aria-controls="listaprecios" aria-selected="false">
                Lista de precios
            </a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContentRoles">
        <div class="tab-pane fade show active" id="producto" role="tabpanel" aria-labelledby="producto-tab">
            <input type="hidden" name="C_EMPRESA" id="C_EMPRESA" />
            <input type="hidden" name="C_PRODUCTO" id="C_PRODUCTO" />
            <input type="hidden" name="C_ARCHIVO_FOTO" id="C_ARCHIVO_FOTO" />
            <input type="hidden" name="C_CUBSO" id="C_CUBSO" />
            <input type="hidden" name="STOCK_ILIMITADO" id="STOCK_ILIMITADO" value="*" />
            <input type="hidden" name="C_UNIDAD_NEGOCIO" id="C_UNIDAD_NEGOCIO" />
            <input type="hidden" name="PRINT_SEPARADO" id="PRINT_SEPARADO" value="&" />

            <div class="p-3">
                <div class="row">
                    <div class="col-12">
                        <h4 class="text-purple-d2 float-left">Datos generales</h4>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-md-10">

                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label class="help-block text-muted small-font"> Código de producto</label>
                                    <input id="codigo" class="form-control form-control-sm" readonly />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label for="C_PRODUCTO_REF" class="help-block text-muted small-font"> Código referencia</label>
                                    <input type="text" id="C_PRODUCTO_REF" name="C_PRODUCTO_REF" class="form-control form-control-sm" autocomplete="off" maxlength="100" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label for="C_UNIDAD_NEGOCIO_REF" class="help-block text-muted small-font">Código centro de costo de ref.</label>
                                    <input type="text" name="C_UNIDAD_NEGOCIO_REF" id="C_UNIDAD_NEGOCIO_REF" class="form-control form-control-sm" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label for="C_BARRAS_PRODUCTO" class="help-block text-muted small-font">Código de barras</label>
                                    <input type="text" name="C_BARRAS_PRODUCTO" id="C_BARRAS_PRODUCTO" class="form-control form-control-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label for="C_PARAMETRO_GENERAL_TIPO_PRODUCTO" class="text-danger"> Tipo</label>
                                    <select id="C_PARAMETRO_GENERAL_TIPO_PRODUCTO" name="C_PARAMETRO_GENERAL_TIPO_PRODUCTO" class="form-control form-control-sm" required>
                                        <option value="07228" selected>Mercaderia</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label for="NOMBRE_PARA_VENTA" class="text-danger"> Nombre comercial</label>
                                    <input type="text" id="NOMBRE_PARA_VENTA" name="NOMBRE_PARA_VENTA" class="form-control form-control-sm" autocomplete="off" required maxlength="350" />
                                    <span class="badge badge-warning">* Nombre para control de ventas pdv y restaurant</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="NOMBRE_GENERICO" class="text-danger"> Nombre genérico</label>
                                    <input type="text" id="NOMBRE_GENERICO" name="NOMBRE_GENERICO" class="form-control form-control-sm" autocomplete="off" required />
                                    <span class="badge badge-warning">* Nombre para control de compras almacén y producción</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label for="C_PARAMETRO_GENERAL_PROCEDENCIA" class="text-danger">Procedencia</label>
                                    <select id="C_PARAMETRO_GENERAL_PROCEDENCIA" name="C_PARAMETRO_GENERAL_PROCEDENCIA" class="form-control form-control-sm"
                                            data-query="gbl_obtener_parametro_general" data-value="CODIGO" data-field="DESCRIPCION" data-tipoParametro="Procedencia Producto Venta" data-enabledefault="0" required></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="FAMILIA" class="help-block text-muted small-font">Familia</label>
                                    <select id="FAMILIA" name="FAMILIA" class="form-control form-control-sm c_empresa" data-query="q_cargafamilia_combo" data-value="nombre_familia" data-field="nombre_familia" disabled data-nosend="true" data-C_EMPRESA=""></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="SUBFAMILIA" class="help-block text-muted small-font">Sub familia</label>
                                    <select id="SUBFAMILIA" name="SUBFAMILIA" class="form-control form-control-sm" data-nosend="true" disabled></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="C_CATEGORIA" class="help-block text-muted small-font">Categoría</label>
                                    <select id="C_CATEGORIA" name="C_CATEGORIA" class="form-control form-control-sm" disabled></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="NOMBRE_CENTRO_COSTO" class="text-danger">(*) Centro de costo / Unidad de negocio.</label>
                                    <div class="input-group mb-3">
                                        <input type="text" name="NOMBRE_CENTRO_COSTO" id="NOMBRE_CENTRO_COSTO" class="form-control form-control-sm" aria-describedby="basic-addon2" readonly="readonly" autocomplete="off" data-nosend="1">
                                        <div class="input-group-append">
                                            <button id="centroCosto" class="btn btn-orange btn-sm btn-filter" type="button"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 pb-2">
                                <div class="form-group">
                                    <label for="TIPO_UNIDAD" class="text-danger">Tipo de unidad</label>
                                    <select name="TIPO_UNIDAD" id="TIPO_UNIDAD" class="form-control form-control-sm" required>
                                        <option value="U">UNIDAD</option>
                                        <option value="L">LOTE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="C_PARAMETRO_GENERAL_UNIDAD_PRIN" class="text-danger">Unidad principal</label>
                                    <select name="C_PARAMETRO_GENERAL_UNIDAD_PRIN" id="C_PARAMETRO_GENERAL_UNIDAD_PRIN" class="form-control form-control-sm" data-query="gbl_obtener_parametro_general" data-value="CODIGO" data-field="DESCRIPCION" data-tipoParametro="Unidad Producto Venta" required></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="C_PARAMETRO_GENERAL_UNIDAD_AUX" class="text-danger">Unidad auxiliar</label>
                                    <select name="C_PARAMETRO_GENERAL_UNIDAD_AUX" id="C_PARAMETRO_GENERAL_UNIDAD_AUX" class="form-control form-control-sm" data-query="gbl_obtener_parametro_general" data-value="CODIGO" data-field="DESCRIPCION" data-tipoParametro="Unidad Producto Venta" required></select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="FACTOR" class="text-danger">Factor de conversión</label>
                                    <input type="text" name="FACTOR" class="form-control form-control-sm number-input" autocomplete="off" value="1" readonly required min="1" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3 pb-2">
                                <div class="form-group">
                                    <label for="PROMOCION" class="text-danger">¿Es paquete?</label>
                                    <select name="PROMOCION" id="PROMOCION" class="form-control form-control-sm" required>
                                        <option value="*">Si</option>
                                        <option value="&" selected="selected">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 pb-2 calculoPrecio" style="display:none">
                                <div class="form-group">
                                    <label for="CALCULO_PRECIO" class="help-block text-muted small-font">Cálculo del precio?</label>
                                    <select class="form-control form-control-sm" id="CALCULO_PRECIO" name="CALCULO_PRECIO"
                                            data-query="gbl_obtener_parametro_general" data-value="CODIGO" data-field="DESCRIPCION"
                                            data-tipoParametro="Calculo del precio" data-textdefault="Sin seleccionar"></select>
                                </div>
                            </div>

                        </div>
                        <h4 class="text-purple-d2 mb-3 border-b-1 brc-grey-l1 zone-promo" style="display:none">Productos del paquete (Mínimo 1 producto)</h4>
                        <div class="row zone-promo" style="display:none">
                            <div class="col-12">
                                <button type="button" id="btnAgregarProducto" class="mb-2 btn btn-sm btn-turquesa"><i class="fa fa-plus" aria-hidden="true"></i> Agregar</button>
                                <button type="button" id="btnEliminarProducto" class="mb-2 btn btn-sm btn-danger-light"><i class="fa fa-times" aria-hidden="true"></i> Eliminar</button>
                                <div id="tblPromo"></div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="NOTAS" class="help-block text-muted small-font">Notas o comentarios</label>
                                    <textarea id="NOTAS" name="NOTAS" class="form-control form-control-sm" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <h4 class="text-purple-d2 mb-3 border-b-1 brc-grey-l1">Facturación SUNAT</h4>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="C_PARAMETRO_GENERAL_AFECTACION_IGV" class="help-block text-muted small-font">Afectación del IGV</label>
                                    <select id="C_PARAMETRO_GENERAL_AFECTACION_IGV" name="C_PARAMETRO_GENERAL_AFECTACION_IGV" class="form-control form-control-sm" data-query="gbl_obtener_parametro_general" data-value="CODIGO" data-field="DESCRIPCION" data-tipoParametro="Código de tipo de afectación del IGV" data-enableDefault="0" required></select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="C_PARAMETRO_GENERAL_SUJETO_DETRACCION" class="help-block text-muted small-font">Bienes y servicios sujetos a detracciones</label>
                                    <select id="C_PARAMETRO_GENERAL_SUJETO_DETRACCION" name="C_PARAMETRO_GENERAL_SUJETO_DETRACCION" class="form-control form-control-sm" data-query="gbl_obtener_parametro_general_detraccion" data-value="CODIGO" data-field="DESCRIPCION" data-textdefault="No aplica bienes ni servicios" data-live-search="true" data-style="btn-light" data-size="10"
                                            style="color: #495057; background-color: #fff; border: 1px solid #ced4da; background-clip: padding-box; font-size: .875rem; font-weight: 400 !important; font-family: sans-serif !important;"></select>
                                </div>
                            </div>
                        </div>

                        <h4 class="text-purple-d2 mb-3 border-b-1 brc-grey-l1">Datos contables</h4>
                        <div class="row">
                            <div class="col-3">
                                <div class="">
                                    <label for="CTA_CONTABLE_VENTAS" class="help-block text-muted small-font"> Cuenta de ventas</label>
                                    <div class="input-group mb-3">
                                        <input type="text" id="CTA_CONTABLE_VENTAS" class="form-control form-control-sm" aria-describedby="basic-addon2" readonly="" name="CTA_CONTABLE_VENTAS" autocomplete="off">
                                        <div class="input-group-append">
                                            <button id="ctaContableVentas" class="btn btn-orange btn-sm btn-filter" type="button"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="text-purple-d2 mb-3 border-b-1 brc-grey-l1">Código de Producto SUNAT (CUBSO)</h4>
                        <div class="row">
                            <div class="col-5">
                                <div class="">
                                    <label for="NOMBRE_CUBSO" class="help-block text-muted small-font"> Cubso</label>
                                    <div class="input-group mb-3">
                                        <input type="text" id="NOMBRE_CUBSO" name="NOMBRE_CUBSO" class="form-control form-control-sm" aria-describedby="basic-addon2" readonly="readonly" autocomplete="off" data-nosend="1">
                                        <div class="input-group-append">
                                            <button id="cubso" class="btn btn-orange btn-sm btn-filter" type="button"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="help-block text-muted small-font text-bold"><strong>Imag&eacute;n del producto</strong></label>
                                    <br />
                                    <img class="mt-1 mb-1 img-responsive rounded border" src="~/Content/Images/no.png" id="img" style="width: 100%;" />
                                    <input type="file" name="input-b6" id="input-b6" />
                                </div>
                                <div class="form-group">
                                    <label for="IND_ESTADO" class="text-danger">Estado</label>
                                    <select name="IND_ESTADO" class="form-control form-control-sm" required>
                                        <option value="*">Activo</option>
                                        <option value="&">Inactivo</option>
                                    </select>
                                </div>
                                <div class="form-group" id="groupCocina">
                                    <label for="C_COCINA" class="text-danger">Zona de Preparacion</label>
                                    <select name="C_COCINA" class="form-control form-control-sm" data-query="gbl_obtener_cocinas_empresa" data-field="NOMBRE_COCINA" data-value="C_COCINA" data-empresa='@Session["SESSION_EMPRESA"]'>
                                    </select>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" id="CHECK_STOCK" class="form-check-input" />
                                    <label class="form-check-label" for="CHECK_STOCK" style="margin-right: 20px;">
                                        <strong>Stock ilimitado</strong>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" id="CHECK_PRINT_SEPARADO" class="form-check-input" />
                                    <label class="form-check-label" for="CHECK_PRINT_SEPARADO" style="margin-right: 20px;">
                                        <strong>Imprimir por Separado</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="listaprecios" role="tabpanel" aria-labelledby="listaprecios-tab">
            <button type="button" id="btnAgregar" class="mb-2 btn btn-sm btn-turquesa"><i class="fa fa-plus" aria-hidden="true"></i> Agregar</button>
            <button type="button" id="btnEliminar" class="mb-2 btn btn-sm" style="background-color: rgb(227,79,79); border-color: rgb(227,79,79); color: white;"><i class="fa fa-times" aria-hidden="true"></i> Eliminar</button>
            <div id="tblPrecios">
            </div>
        </div>
    </div>
</form>