<div class="card card-default mb-3 shadow-sp">
    <div class="card-body p-2">
        <form name="frm" onsubmit="return false;">
            <div class="row">
                <div class="col-2">
                    <div class="form-group-rm">
                        <label>Producto</label>
                        <select name="C_PRODUCTO" class="form-control form-control-sm"
                                data-query="cb_pdv_gbl_busqueda_productos" data-field="NOMBRE_PARA_VENTA" data-value="C_PRODUCTO"
                                data-C_EMPRESA="@Session["SESSION_EMPRESA"]"
                                data-live-search="true" data-style="btn-light" data-size="10"
                                data-textDefault="-- Todos --"
                                style="color: #495057; background-color: #fff; border: 1px solid #ced4da; background-clip: padding-box; font-size: .875rem; font-weight: 400 !important; font-family: sans-serif !important;"></select>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group-rm">
                        <label>Tipo de cliente</label>
                        <select name="C_CLIENTE_CATEGORIA" class="form-control form-control-sm"
                                data-query="cb_puntoventa_mantenimiento_listaprecios_obtenertipocliente" data-field="NOMBRE" data-value="C_CLIENTE_CATEGORIA"
                                data-C_EMPRESA="@Session["SESSION_EMPRESA"]"
                                data-textDefault="-- Todos --"></select>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group-rm">
                        <label>Tipo programación</label>
                        <select name="TIPO_CONFIG" class="form-control form-control-sm"
                                data-query="gbl_obtener_parametro_general" data-field="DESCRIPCION" data-value="CODIGO"
                                data-C_EMPRESA="@Session["SESSION_EMPRESA"]"
                                data-textDefault="-- Todos --" data-tipoParametro="Tipo de precio producto"></select>
                    </div>
                </div>
                <div class="form-group-rm ml-2">
                    <label for="exampleFormControlSelect1">&nbsp;</label>
                    <button type="submit" class="btn btn-sm btn-gray btn-block btn-filter"><i class="fa fa-search-plus" aria-hidden="true"></i>&nbsp;Buscar</button>
                </div>
                <div class="form-group-rm ml-2">
                    <label for="exampleFormControlSelect1">&nbsp;</label>
                    <button type="button" id="btnAgregarPrecio" class="btn btn-sm btn-danger btn-block btn-filter">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Agregar precio
                    </button>
                </div>
                <div class="form-group-rm ml-2">
                    <label for="exampleFormControlSelect1">&nbsp;</label>
                    <button type="button" id="btnDescargarPrecio" class="btn btn-sm btn-orange btn-block btn-filter">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Descargar excel
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12">
                <div id="table" class="mt-2" style="position:relative; z-index:0;"></div>
            </div>
        </div>
    </div>
</div>
