<div class="row">
    <main class="col-auto px-md-4" style="top: 50%">

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4 animated fadeIn">
                <div class="card card-sp hvrbox shadow-solver bg-solver">
                    <div class="card-body p-3 pt-5 pb-4 d-flex flex-column">

                        <div class="row">
                            <div class="col-12">
                                <div class="text-center">
                                    <img class="dinamic animated bounceIn imagen-1" src="/Content/Images/no-white.png" width="45%">
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-md-center mt-2">
                            <div class="col-12 col-md-7">
                                <div class="text-center" style="min-height:3rem;">
                                    <h5 class="font-weight-semibold text-grey mt-2 text-uppercase">Estado de cuenta</h5>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="text-center">
                                    <a href="~/Reportes/ReporteEstadoCuenta" class="btn btn-md btn-gray btn-xs pl-2 pr-2"><i class="fa fa-paper-plane" aria-hidden="true"></i> INGRESAR</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4 animated fadeIn">
                <div class="card card-sp hvrbox shadow-solver bg-solver">
                    <div class="card-body p-3 pt-5 pb-4 d-flex flex-column">

                        <div class="row">
                            <div class="col-12">
                                <div class="text-center">
                                    <img class="dinamic animated bounceIn imagen-2" src="/Content/Images/no-white.png" width="45%">
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-md-center mt-2">
                            <div class="col-12 col-md-7">
                                <div class="text-center" style="min-height:3rem;">
                                    <h5 class="font-weight-semibold text-grey mt-2 text-uppercase">Movimientos de cuentas bancarias</h5>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="text-center">
                                    <a href="~/Reportes/ReporteMovCuentaBancaria" class="btn btn-md btn-gray btn-xs pl-2 pr-2"><i class="fa fa-paper-plane" aria-hidden="true"></i> INGRESAR</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4 animated fadeIn">
                <div class="card card-sp hvrbox shadow-solver bg-solver">
                    <div class="card-body p-3 pt-5 pb-4 d-flex flex-column">

                        <div class="row">
                            <div class="col-12">
                                <div class="text-center">
                                    <img class="dinamic animated bounceIn imagen-3" src="/Content/Images/no-white.png" width="45%">
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-md-center mt-2">
                            <div class="col-12 col-md-7">
                                <div class="text-center" style="min-height:3rem;">
                                    <h5 class="font-weight-semibold text-grey mt-2 text-uppercase">Documentos cancelados</h5>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="text-center">
                                    <a href="~/Reportes/ReporteDocumentoCancelado" class="btn btn-md btn-gray btn-xs pl-2 pr-2"><i class="fa fa-paper-plane" aria-hidden="true"></i> INGRESAR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 mb-4 animated fadeIn">
                <div class="card card-sp hvrbox shadow-solver bg-solver">
                    <div class="card-body p-3 pt-5 pb-4 d-flex flex-column">

                        <div class="row">
                            <div class="col-12">
                                <div class="text-center">
                                    <img class="dinamic animated bounceIn imagen-4" src="/Content/Images/no-white.png" width="45%">
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-md-center mt-2">
                            <div class="col-12 col-md-7">
                                <div class="text-center" style="min-height:3rem;">
                                    <h5 class="font-weight-semibold text-grey mt-2 text-uppercase">Detalle cobranza</h5>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="text-center">
                                    <a href="~/Reportes/ReporteDetalleCobranza" class="btn btn-md btn-gray btn-xs pl-2 pr-2"><i class="fa fa-paper-plane" aria-hidden="true"></i> INGRESAR</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </main>
</div>