<div class="row mb-2">
    <div class="col">
        <div id="correo_destino"></div>
    </div>
</div>
<div class="row">
    <div class="col-9" id="lstCorreos">
        <input type="text" id="correo" class="form-control" />
    </div>
    <div class="col-3">
        <button class="btn btn-sm btn-block btn-orange" id="btnAgregar">Agregar</button>
    </div>
</div>

<div class="row mt-2">
    <div class="offset-9 col-3">
        <button class="btn-block btn btn-sm btn-danger" id="btnEnviar">Enviar</button>
    </div>
</div>