<form name="frmEscogerProducto">
    <div class="row">
        <div class="col-4">
            <input type="text" name="buscar" id="buscar" class="form-control form-control-sm" autocomplete="off" />
        </div>
        <button type="submit" id="btnSearchEscogerProducto" class="btn btn-sm btn-gray"><i class="fa fa-search"></i>&nbsp;Buscar</button>
    </div>
</form>
<div class="row mt-2">
    <div class="col">
        <div id="tableEscogerProducto"></div>
    </div>
</div>