<div class="row">
    <div class="col-8" id="lstCorreos">
        <input type="text" class="form-control" />
    </div>
    <div class="col-4">
        <button class="btn btn-sm btn-orange" id="btnAgregar">Agregar Correo</button>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <button class="float-right btn btn-sm btn-danger" id="btnEnviar">Enviar</button>
    </div>
</div>