<div class="row">
    <div class="col-12 col-sm-3 col-md-3">
        <div class="form-group-rm">
            <input type="text" class="form-control form-control-sm" id="_buscar" name="_buscar" placeholder="Ingrese aquí su búsqueda..." autocomplete="off" data-nosend="0">
        </div>
    </div>
    <div class="col-auto">
        <div class="form-group-rm">
            <button id="buscar" type="button" class="btn btn-sm btn-gray btn-block btn-filter" data-nosend="1"><i class="fa fa-search-plus" aria-hidden="true"></i>&nbsp;Buscar</button>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <div id="table"></div>
    </div>
</div>
@*<div class="row mt-2">
    <div class="col">
        <button type="button" class="float-right btn btn-sm btn-danger" id="btnAceptar">Aceptar</button>
    </div>
</div>*@
