<div class="card card-default mb-3 shadow-sp">
    <div class="card-body p-2">
        <form name="frm" onsubmit="return false;">
            <div class="row">
                <div class="col-12 col-sm-3 col-md-3">
                    <div class="form-group-rm">
                        <input type="text" class="form-control form-control-sm" name="buscar" placeholder="Buscar..." autocomplete="off" />
                    </div>
                </div>
                <div class="col-auto p-0 pr-1">
                    <div class="form-group-rm">
                        <button type="submit" class="btn btn-sm btn-gray btn-block"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                    </div>
                </div>
                <div class="col-auto p-0">
                    <div id="actions"></div>
                </div>
            </div>
        </form>
        <div id="table" class="mt-2"></div>
    </div>
</div>