.imagen-1 {
    background-image: url('/Caja/Content/Images/cartera.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.imagen-2 {
    background-image: url('/Caja/Content/Images/estadistico.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.imagen-3 {
    background-image: url('/Caja/Content/Images/resumen.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.imagen-4 {
    background-image: url('/Caja/Content/Images/detallada.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.imagen-5 {
    background-image: url('/Caja/Content/Images/seguimiento.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
