<button class="btn btn-danger btn-save-rol btn-sm float-right"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Guardar</button>
<a href="@Url.Action("RolesAcceso","Configurar")" class="btn btn-gray btn-sm"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Regresar</a>
<hr />
<ul class="nav nav-tabs" id="myTabRoles" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#info" role="tab" aria-controls="home" aria-selected="true">Información</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#permisos" role="tab" aria-controls="profile" aria-selected="false">Accesos Habilitados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#usuarios" role="tab" aria-controls="contact" aria-selected="false">Usuarios Asignados</a>
    </li>
</ul>
<div class="tab-content" id="myTabContentRoles">
    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
            <div class="col-md-12">
                <form name="frmRegistroRol" action="#" method="post" data-table="W_ROL" data-condition="@ViewBag.Condition" data-setUpdate="1">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="C_EMPRESA">Empresa propietaria</label>
                                <select class="form-control form-control-sm" id="C_EMPRESA" name="C_EMPRESA" data-query="GET_ACTIVOS_EPRESA" data-value="C_EMPRESA" data-field="NOMBRE" data-selected="0" required></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="NOMBRE">Nombre del rol</label>
                                <input type="text" class="form-control form-control-sm" id="NOMBRE" name="NOMBRE" placeholder="Nombre del Rol" value="" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="TIPO_ROL">Tipo de rol</label>
                                <select class="form-control form-control-sm" id="TIPO_ROL" name="TIPO_ROL" data-query="gbl_obtener_parametro_general" data-value="CODIGO" data-field="DESCRIPCION" data-tipoParametro="Tipo Rol" data-selected="0" required></select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="DESCRIPCION">Descripción</label>
                                <textarea class="form-control form-control-sm" id="DESCRIPCION" name="DESCRIPCION" placeholder="Agrega un descripcion"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="C_ROL" value="@Guid.NewGuid().ToString().Substring(0,5)" />
                    <input type="hidden" name="FLAG_ESTADO" value="*" />

                </form>

            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="permisos" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
            <div class="col-md-12">
                <div class="zone-opciones" style="margin-top:0.5rem;">
                    <i class="fa fa-exclamation" aria-hidden="true"></i> No hay accesos registrados.
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="usuarios" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-info btn-sm btn-add-user"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar Usuario</button>
                <div id="tableRegUsuarios" style="margin-top:5px;"></div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">

    .zone-opciones .add-element, .leyenda {
        font-size: 0.7rem;
    }

    .zone-opciones .inner-items {
        padding-left: 0;
        margin-bottom: 0;
    }

        .zone-opciones .inner-items li {
            font-size: 0.8rem;
            list-style: none;
        }

        .zone-opciones .inner-items .add-element {
            font-size: 0.6rem;
        }

        .zone-opciones .inner-items li .text strong {
            background-color: aliceblue;
            font-size: 0.6rem;
        }

        .zone-opciones .inner-items li .text:hover {
            background-color: #fdded6;
        }

        .zone-opciones .inner-items .editer {
            cursor: pointer;
            min-width: 5rem;
            display: inline-block;
        }

    .zone-opciones .level-01 {
        margin-bottom: 0.5rem;
        background-color: #fff3f0;
        padding: 0.5rem;
    }

        .zone-opciones .level-01 > .text, .level-01 > .text:hover {
            font-size: 0.9rem !important;
            font-weight: bold;
        }

        .zone-opciones .level-01 > ul {
            padding-left: 0.5rem;
        }

    .zone-opciones .level-02 {
        padding-top: 0.3rem;
    }

        .zone-opciones .level-02 > .text, .level-02 > .text:hover {
            font-size: 0.8rem !important;
        }

        .zone-opciones .level-02 > ul {
            padding-left: 0.7rem;
        }

    .zone-opciones .level-03 > ul {
        padding-left: 0.9rem;
    }

    .zone-opciones .level-03 > .text > .add-element {
        display: none;
    }

    .zone-opciones .level-03:hover > .text > .add-element {
        display: block;
    }
</style>