<form name="frmRegistroCentroCosto" action="#" method="post">
    <input type="hidden" name="C_EMPRESA" id="C_EMPRESA" />
    <input type="hidden" name="C_UNIDAD_NEGOCIO" id="C_UNIDAD_NEGOCIO" />
    <input type="hidden" name="C_UNIDAD_NEGOCIO_REF" id="C_UNIDAD_NEGOCIO_REF" />
    <input type="hidden" name="IND_ESTADO" id="IND_ESTADO" value="*" />

    <div class="form-group">
        <label for="nombre">Nombre centro de costo</label>
        <input type="text" class="form-control form-control-sm" id="NOMBRE" name="NOMBRE" placeholder="Nombre centro de costo" maxlength="50" required autocomplete="off">
    </div>
    <button type="submit" class="btn pull-right btn-danger btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Guardar</button>
</form>