    <div class="card card-default mb-3 shadow-sp">
        <div class="card-body p-2">
            <form name="filtrosRegCargaMasiva" onsubmit="return false;">
                <div class="row">
                    <div class="col-12 col-sm-3 col-md-3">
                        <div class="form-group-rm">
                            <input type="text" class="form-control form-control-sm" id="_buscar" name="_buscar" placeholder="Ingrese aquí su búsqueda..." autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-auto p-0 pr-1">
                        <div class="form-group-rm">
                            <button type="submit" class="btn btn-sm btn-gray btn-block"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                        </div>
                    </div>
                    <div class="col-auto p-0">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-orange dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones
                            </button>
                            <div class="dropdown-menu dropdown-caret">
                                <a id="btnAgregarMasivo" class="dropdown-item" href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Crear Masivo</a>
                                <a id="btnEditarMasivo" class="dropdown-item" href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Editar Masivo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="tblCargaMasiva" class="mt-2"></div>
        </div>
    </div>