<button class="btn btn-danger btn-sm pull-right" id="btnGuardar"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Guardar</button>

<button id="btnAgregar" class="btn btn-sm btn-turquesa"><i class="fa fa-plus" aria-hidden="true"></i> Agregar</button>
<button id="btnEliminar" class="btn-sm btn" style="background-color: rgb(227,79,79); border-color: rgb(227,79,79); color: white;"><i class="fa fa-times" aria-hidden="true"></i> Eliminar</button>
<div class="mt-2" id="table"></div>