<button class="btn btn-danger btn-sm pull-right" id="btnGuardar"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Guardar</button>

<button id="btnAgregar" class="btn-sm m-1 btn btn-primary">Agregar</button>
<button id="btnEliminar" class="btn-sm m-1 btn btn-danger">Eliminar</button>
<div class="mt-2" id="table"></div>