   
<form name="filtrosRegSueldoMinimo" onsubmit="return false;">
    <div class="row mb-3">
        <div class="col-12 col-sm-4 col-md-4">
            <div class="dropdown">
                <button class="btn btn-orange btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acciones</button>
                <div class="dropdown-menu dropdown-caret" style="">
                    <a id="btnRefrescar" class="dropdown-item" href="#"><i class="fa fa-refresh" aria-hidden="true"></i> Refrescar</a>
                    <a id="btnAgregarSM" class="dropdown-item" href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar sueldo</a>
                </div>
            </div>
        </div>
        <div class="col">
            <button type="button" class="btn btn-sm btn-danger float-right" id="btnGuardarSM"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="tblSueldoMinimo"></div>
        </div>
    </div>
</form>
