<div class="card card-default mb-3 shadow-sp">
    <div class="card-body p-2">
        <form name="filtrosRegRol" onsubmit="return false;">
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4">
                    <div class="form-group-rm">
                        <label for="_buscar">Buscar Nombre/Descripción/Tipo Rol</label>
                        <input type="text" class="form-control form-control-sm" id="_buscar" name="_buscar" placeholder="Ingrese aquí su búsqueda..." autocomplete="off" />
                    </div>
                </div>
                <div class="col-auto p-0 pr-1">
                    <div class="form-group-rm">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-sm btn-gray btn-block"><i class="fa fa-search-plus" aria-hidden="true"></i> Buscar</button>
                    </div>
                </div>
                <div class="col-auto p-0">
                    <div class="form-group-rm">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-sm btn-orange btn-block btn-add"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="mt-2" id="tableRoles"></div>
    </div>
</div>
