<div class="row mb-2">
    <div class="col-auto">
        <button type="button" id="btnFiltros" class="btn btn-sm btn-orange"><i class="fa fa-search-plus" aria-hidden="true"></i> Filtros</button>
        <button type="button" id="btnDescargarExcel" class="btn btn-sm btn-orange"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Descargar excel</button>
        @*<a href="~/Reportes/Reportes" class="btn btn-sm btn-gray"><i class="fa fa-undo" aria-hidden="true"></i> Regresar</a>*@
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <img id="IMAGEN_EMPRESA" width="200" height="120" />
                <div class="text-center text-uppercase">
                    <h3 id="titulo"></h3>
                </div>
                <div class="mb-4">
                    <label class="col-form-label col-form-label-sm" id="lblEmpresa"></label><br />
                    <label class="col-form-label col-form-label-sm" id="lblRuc"></label><br />
                    <label class="col-form-label col-form-label-sm" id="lblPeriodo"></label><br />
                    <strong><label class=" col-form-label col-form-label-sm" id="lblMoneda" style="font-size:14px"></label></strong>
                </div>
                <div id="t">
                    <div id="table"></div>
                </div>
            </div>
        </div>
    </div>
</div>