@using System.Globalization;

<input type="hidden" value="@DateTime.Now.Month" id="MES_ACTUAL" />
<input type="hidden" value="@DateTime.Now.Day" id="DIA_ACTUAL" />
<input type="hidden" value="@System.Globalization.CultureInfo.CurrentUICulture.Calendar.GetWeekOfYear(DateTime.Now, CalendarWeekRule.FirstDay, DateTime.Now.DayOfWeek)" id="SEMANA_ACTUAL_ANUAL" />
<input type="hidden" value="@System.Globalization.CultureInfo.CurrentUICulture.Calendar.GetWeekOfYear(DateTime.Now.AddDays(-DateTime.Now.Day + 1), CalendarWeekRule.FirstDay, DateTime.Now.DayOfWeek)" id="SEMANA_PRIMER_DIA_MES_ANUAL" />

<form name="filterPeriodo" class="form-inline mb-2">
    <div class="form-group mr-2">
        <label class="col-form-label col-form-label-sm"><strong>Periodo:</strong></label>
    </div>
    <div class="form-group mr-2">
        <select name="anio" class="form-control form-control-sm" data-query="gbl_anio_trabajo" data-field="Anio" data-value="Anio" data-enableDefault="0"></select>
    </div>
    <div class="form-group mr-2">
        <button type="submit" class="btn btn-sm btn-gray btn-block"><i class="fa fa-search-plus" aria-hidden="true"></i> Actualizar</button>
    </div>
    <div class="col">
        <h6 class="col-form-label col-form-label-sm text-right"><strong>*Expresado en soles</strong></h6>
    </div>
</form>

<div class="row">

    <div class="col-md-8 col-12 mb-4">
        <div class="card card-reporte">
            <div class="card-title" style="background-color: #F0F0F0">
                <h3 class="card-reporte-title font-weight-bolder">ESTATUS DE COMPRAS</h3>
            </div>
            <div class="card-body p-0">
                <div id="reporte1" class="pl-2 pr-2 pt-4" style="height: 20rem;display: none;">
                    <canvas id="canvas-reporte-1"></canvas>
                </div>
                <div id="noreporte1" class="text-center" style="display:none;">
                    <label class="text-130 mt-4"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No hay datos</label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-12 mb-4">
        <div class="card card-reporte">
            <div class="card-title" style="background-color: #F0F0F0">
                <h3 class="card-reporte-title font-weight-bolder">ESTATUS DE COMPROBANTES</h3>
            </div>
            <div class="card-body p-0">
                <div id="reporte2" class="pl-2 pr-2 pt-4" style="height: 20rem;">
                    <div id="reporte-2">
                        <div class="row pl-3 pr-3">
                            <div class="col" id="cab">
                            </div>
                            <div class="col text-right" id="det">
                            </div>
                        </div>

                    </div>
                </div>
                <div id="noreporte2" class="text-center" style="display: none;">
                    <label class="text-130 mt-4"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No hay datos</label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 col-12 mb-4">
        <div class="card card-reporte text-center" style="min-height: 18rem;">
            <div class="card-body">
                <div class="row" id="reporte3" style="display:none">
                    <div class="col mb-6">
                        <h3 class="card-reporte-title mt-2 mb-4 pt-1 pb-1 font-weight-bolder" style="text-align: center !important;">COMPRAS HOY</h3>
                        <div class="mt-5" style="color:black; font-size: 25px;"><h3 id="ventas_hoy_monto"></h3></div>
                        <div class="mt-5"><h3 id="ventas_hoy_cantidad"></h3></div>
                    </div>
                    <div class="col mb-6">
                        <h3 class="card-reporte-title mt-2 mb-4 pt-1 pb-1 font-weight-bolder" style="text-align: center !important;">COMPRAS DEL MES</h3>
                        <div class="mt-5" style="color:black; font-size: 25px;"><h3 id="ventas_mes_monto"></h3></div>
                        <div class="mt-5"><h3 id="ventas_mes_cantidad"></h3></div>
                    </div>
                    <div class="col mb-6">
                        <h3 id="anio_compras" class="card-reporte-title mt-2 mb-4 pt-1 pb-1 font-weight-bolder" style="text-align: center !important;">COMPRAS </h3>
                        <div class="mt-5" style="color:black; font-size: 25px;"><h3 id="ventas_anual_monto"></h3></div>
                        <div class="mt-5"><h3 id="ventas_anual_cantidad"></h3></div>
                    </div>
                </div>
                <div id="noreporte3" class="text-center" style="display: none;">
                    <label class="text-130 mt-4"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No hay datos</label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-12 mb-6">
        <div class="card card-reporte" style="min-height: 18rem;">
            <div class="card-body pl-2 pr-2">
                <h3 class="card-reporte-title mt-2 pb-1 font-weight-bolder" style="text-align: center !important;">COMPRAS ANUALES</h3>
                <div class="row pt-3 pr-3 pl-3" style="display:none" id="reporte6">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h5>Enero</h5>
                                <h5 class="mt-4">Febrero</h5>
                                <h5 class="mt-4">Marzo</h5>
                                <h5 class="mt-4">Abril</h5>
                            </div>
                            <div class="col text-right">
                                <h5 id="ene"></h5>
                                <h5 class="mt-4" id="feb"></h5>
                                <h5 class="mt-4" id="mar"></h5>
                                <h5 class="mt-4" id="abr"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h5>Mayo</h5>
                                <h5 class="mt-4">Junio</h5>
                                <h5 class="mt-4">Julio</h5>
                                <h5 class="mt-4">Agosto</h5>
                            </div>
                            <div class="col text-right">
                                <h5 id="may"></h5>
                                <h5 class="mt-4" id="jun"></h5>
                                <h5 class="mt-4" id="jul"></h5>
                                <h5 class="mt-4" id="ago"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h5>Setiembre</h5>
                                <h5 class="mt-4">Octubre</h5>
                                <h5 class="mt-4">Noviembre</h5>
                                <h5 class="mt-4">Diciembre</h5>
                            </div>
                            <div class="col text-right">
                                <h5 id="set"></h5>
                                <h5 class="mt-4" id="oct"></h5>
                                <h5 class="mt-4" id="nov"></h5>
                                <h5 class="mt-4" id="dic"></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="noreporte6" class="text-center" style="display: none;">
                    <label class="text-130 mt-4"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No hay datos</label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 col-12 mb-4">
        <div class="card card-reporte" style="min-height: 26rem;">
            <div class="card-title" style="background-color: #F0F0F0">
                <h3 class="card-reporte-title font-weight-bolder">COMPRAS SEMANALES</h3>
            </div>
            <div class="card-body pl-2 pr-2">
                <div id="reporte4" class="pl-2 pr-2" style="height: 20rem; display: none;">
                    <canvas id="canvas-reporte-3"></canvas>
                </div>
                <div id="noreporte4" class="text-center" style="display: none;">
                    <label class="text-130 mt-1"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No hay datos</label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-12 mb-4">
        <div class="card card-reporte" style="min-height: 26rem;">
            <div class="card-title" style="background-color: #F0F0F0">
                <h3 class="card-reporte-title font-weight-bolder">COMPRAS ÚLTIMOS 2 MESES</h3>
            </div>
            <div class="card-body pl-2 pr-2 ">
                <div id="reporte5" class="mt-3 pl-2 pr-2" style="height:18rem;">
                    <canvas id="card-data-4"></canvas>
                </div>
                <div id="noreporte5" class="text-center" style="display:none">
                    <label class="text-130 mt-1"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No hay datos</label>
                </div>
            </div>
        </div>
    </div>

</div>